@model System.Collections.Generic.IEnumerable<ProductShop.Web.ViewModels.Category.CategoryByNameAndPicture>
<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 media">
            <img src="@category.ImageUrl" width="100" class="mr-3" alt="Title">
            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-area="" asp-controller="Categories" asp-action="Details" asp-route-name="@category.Name">
                        @category.Name (@category.ProductsCount)
                        @*to do*@
                    </a>
                    @if (User.IsInRole(ProductShop.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <a asp-area="Administration"
                           asp-controller="Categories"
                           asp-action="Delete"
                           asp-route-id="@category.Id"
                           class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    }
                </h5>
                @if (User.IsInRole(ProductShop.Common.GlobalConstants.AdministratorRoleName))
                {
                    <a asp-area="Administration"
                       asp-controller="Categories"
                       asp-action="Edit"
                       asp-route-id="@category.Id"
                       class="btn btn-dark">Edit</a>
                }
                @category.Description
            </div>
        </div>
    }
</div>
@if (User.IsInRole(ProductShop.Common.GlobalConstants.AdministratorRoleName))
{
    <a asp-area="Administration" asp-controller="Categories" asp-action="Create" class="btn btn-success">Add new</a>
}