@model ProductShop.Web.ViewModels.Category.NameAndSubcategoriesNamesViewModel

<h1>@Model.Name</h1>
@if (Model.Subcategories.Count() > 0)
{
    <h4>Subcategories: </h4>
    <div>
        <span class="list-group-item">
            @foreach (var sub in Model.Subcategories)
            {
                <span style="font-size: 24px; color: black">
                    <span style="font-size: 24px;">

                        <a style="color: lightslategrey"
                           asp-area=""
                           asp-controller="Subcategories"
                           asp-action="Details"
                           asp-route-name="@sub.Name"><i class="fas fa-th"></i>
                        </a>
                    </span>
                    <strong><span>@sub.Name</span></strong>
                    @if (User.IsInRole(ProductShop.Common.GlobalConstants.AdministratorRoleName))
                    {
                        <a style="color: blue"
                           asp-area="Administration"
                           asp-controller="Subcategories"
                           asp-action="Edit"
                           asp-route-id="@sub.Id"><i class="fas fa-pen"></i></a>
                        <a style="color: red"
                           asp-area="Administration"
                           asp-controller="Subcategories"
                           asp-action="Delete"
                           asp-route-id="@sub.Id"><i class="fas fa-minus-circle"></i></a>
                    }
                </span>
            }
            @if (User.IsInRole(ProductShop.Common.GlobalConstants.AdministratorRoleName))
            {
                <a
                   asp-area="Administration"
                   asp-controller="Subcategories"
                   asp-action="Create"
                   asp-route-categoryId="@Model.Id"
                   class="btn btn-success">
                    <i class="fas fa-plus"></i>
                    Add new
                </a>
            }
        </span>
    </div>
}

@if (this.Model.Products.Count() != 0)
{

    <partial name="_ProductListingPartial" model="@Model.Products" />

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            @if (this.Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Categories"
                       asp-action="Details"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? "active" : string.Empty;

                <li class="page-item @active">
                    <a class="page-link"
                       asp-controller="Categories"
                       asp-action="Details"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@i">@i</a>
                </li>
            }
            @if (this.Model.CurrentPage == this.Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Categories"
                       asp-action="Details"
                       asp-route-name="@this.Model.Name"
                       asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://first1k.eu/wp-content/uploads/2018/09/Sorry.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Sorry this category does not seem to have products yet!</p>
            <p class="card-text">Click the button bellow to see all categories!</p>
        </div>
        <a asp-controller="Categories" asp-action="All" class="btn btn-primary">Categories</a>
    </div>
}
