@model ProductShop.Web.ViewModels.Products.DetailsModel

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service1-item">

                        <center>
                            <img width="250" src="@Model.ImageUrl" alt="">
                        </center>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-title">@Model.Name</div>
                    <div class="product-desc">@Html.Raw(Model.SanitaziedDescription)</div>
                    <a asp-area="" asp-controller="Rates" asp-action="Rate" asp-route-productId="@Model.Id" class="btn btn-dark">Rate</a>
                    <a asp-area="" asp-controller="Rates" asp-action="AllRating" asp-route-productId="@Model.Id" class="btn btn-light">View ratings</a>
                    @if (Model.AverageRating != 0)
                    {
                        <span>@Model.AverageRating/5 Average rating</span>
                    }
                    else
                    {
                        <span>Not rated</span>
                    }
                    <hr>
                    <div class="product-price">$ @Model.Price</div>
                    @if (Model.Quantity >= 1)
                    {
                        <div class="product-stock">@Model.Quantity In stock</div>
                        <hr>
                        <div class="btn-group cart">
                            <a asp-area="" asp-controller="Orders" asp-action="OrderProduct" asp-route-productId="@Model.Id" class="btn btn-success">Order</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <i class="far fa-frown"></i>
                            <span>Not in stock</span>
                        </div>
                        <hr>
                    }
                    <div class="btn-group wishlist">
                        @if (Model.IsFavorid)
                        {
                            <a class="btn btn-danger" asp-area="" asp-controller="Wishes" asp-action="Remove" asp-route-productId="@Model.Id">
                                Remove from wishlist
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-danger" asp-area="" asp-controller="Wishes" asp-action="Add" asp-route-productId="@Model.Id">
                                Add to wishlist
                            </a>
                        }
                    </div>
                    <div class="btn-group">
                        <a asp-controller="Comments" asp-action="Create" asp-route-productId="@Model.Id" class="btn btn-warning">Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">

    @foreach (var comment in Model.Comments)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-secondary text-center">@comment.CreatedOn</p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left"><strong>@comment.UserName</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>@Html.Raw(comment.SantizedContent)</p>
                        <form id="votesForm" method="post"></form>
                        <p>
                            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                            <a class="float-right btn text-white btn-danger" onclick="sendVote(@comment.Id, false)"> <i class="fa fa-thumbs-down"></i> Dislike</a>
                            <a class="float-right btn text-white btn-primary" onclick="sendVote(@comment.Id, true)"> <i class="fa fa-thumbs-up"></i> Like</a>
                            <span id="votesCount">
                                @comment.Votes
                            </span>
                            <span>Likes</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function sendVote(commentId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { commentId: commentId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}