@model IEnumerable<ProductShop.Web.ViewModels.Products.SummaryProductModel>
<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <!-- List group-->
            <ul class="list-group shadow">

                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    @foreach (var product in Model)
                    {
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                                </h5>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">$@product.Price</h6>
                                    <a style="color: snow" class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">See Details</a>

                                    @if (product.AverageRating != 0) // to do make it depend on count
                                    {
                                        <ul class="list-inline small">
                                            <li>@product.AverageRating <span>Average rating</span></li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <span>Not rated</span>
                                    }
                                </div>
                            </div><img src="@product.ImageUrl" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    }
                    <!-- End -->
                </li>
            </ul>
            <!-- End -->
        </div>
    </div>
</div>