@model ProductShop.Web.ViewModels.NavBar.NavBarViewModel

<li class="nav-item" style="margin: 6px">
    <button class="btn btn-secondary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="MyOrders">My orders</a>
    </button>
</li>
<li class="nav-item" style="margin: 6px">
    <button class="btn btn-secondary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="AddProduct">@Model.AddProduct</a>
    </button>
</li>
<li class="nav-item" style="margin: 6px">
    <button class="btn btn-secondary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Wishes" asp-action="All">My wish list</a>
    </button>
</li>
<li class="nav-item" style="margin: 6px">
    <button class="btn btn-secondary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="MyProductsForSale">My products for sale</a>
    </button>
</li>
<li class="nav-item" style="margin: 6px">
    <div class="btn-group">
        <button class="btn btn-secondary" type="button">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="All">
                @Model.Category
            </a>
        </button>
        <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <cache expires-after="@TimeSpan.FromHours(3)">
            <div class="dropdown-menu">
                @foreach (var category in Model.Categories)
                {
                    <span class="dropdown-item" type="button">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Details" asp-route-name="@category.Name">
                            @category.Name
                        </a>
                    </span>
                }
            </div>
        </cache>
    </div>
</li>

